@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon</h1>

<p>PLEASE ADD A STYLIST BEFORE YOU CREATE A CLIENT! <p>

<p>@Html.ActionLink("See Stylists", "Index", "Stylists") </p>
<p>@Html.ActionLink("See Clients", "Index", "Clients") </p>
